/**
 * @name everforest
 * @description A dark mode discord theme based on the everforest color palette.
 * @author talwat
 * @version 1.1
 * @authorId 741143876563370086
 * @source https://github.com/talwat/everforest-BD
 */

 * {
    --light-bg-0: #f8f0dc;
    --light-bg-1: #efead4;
    --light-bg-2: #e9e5cf;
    --light-bg-3: #e1ddc9;
    --light-bg-4: #dcd8c4;
    --light-bg-5: #b9c0ab;
    --light-fg: #5c6a72;

    --dark-bg-0: #2f383e;
    --dark-bg-1: #374247;
    --dark-bg-2: #404c51;
    --dark-bg-3: #4a555b;
    --dark-bg-4: #525c62;
    --dark-bg-5: #596763;
    --dark-fg: #d3c6aa;

    --blue: #7fbbb3;
    --green: #a7c080;
    --red: #e67e80;

    --brand-experiment-400: var(--blue);
    --brand-experiment-500: var(--blue);
    --brand-experiment-560: #3b5360;
    --ping: var(--red);
    --background-accent: var(--green);
    --text-link: var(--blue);
    --text-spotify: var(--blue);
    --brand-experiment: var(--blue);
    --interactive-hover: var(--green);
    --button-outline-danger-border: var(--red);
    --button-danger-background: var(--red);

    --background-primary: var(--bg-1);
    --background-secondary: var(--bg-0);
    --background-secondary-alt: var(--bg-2);
    --channeltextarea-background: var(--bg-4);
    --background-tertiary: var(--bg-2);
    --text-normal: var(--fg);
    --text-muted: var(--bg-3);
    --background-floating: var(--bg-3);
    --header-primary: var(--fg);
    --header-secondary: var(--fg);
    --header-spotify: var(--fg);
    --interactive-normal: var(--fg);
    --interactive-active: var(--fg);
    --input-background: var(--bg-0);
    --deprecated-text-input-bg: var(--bg-0);
    --deprecated-text-input-border: var(--bg-0);
    --button-outline-danger-text: var(--fg);
    --background-modifier-selected: var(--bg-0);
    --background-modifier-hover: var(--bg-1);

    --scrollbar-auto-thumb: var(--bg-3);
    --scrollbar-auto-track: var(--bg-2);
    --scrollbar-thin-thumb: var(--bg-3);
    --scrollbar-thin-track: transparent;

    --deprecated-quickswitcher-input-background: var(--bg-1);

    color: var(--fg);
}

.colorBrand-ROmMP1 {
    color: var(--green);
}

.colorDefault-2K3EoJ.focused-3afm-j,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--background-modifier-hover) !important;
}

.lookFilled-1Gx00P {
    background-color: var(--green) !important;
}

.lookFilled-1Gx00P:active,
.lookFilled-1Gx00P:hover {
    background-color: #3b5360 !important;
}

.lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) {
    color: var(--green);
    border-color: var(--green);
}

.colorDefault-2K3EoJ.focused-3afm-j,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    color: var(--fg);
}

.theme-dark {
    --bg-0: var(--dark-bg-0);
    --bg-1: var(--dark-bg-1);
    --bg-2: var(--dark-bg-2);
    --bg-3: var(--dark-bg-3);
    --bg-4: var(--dark-bg-4);
    --bg-5: var(--dark-bg-5);
    --fg: var(--dark-fg);
}

.theme-light {
    --bg-0: var(--light-bg-0);
    --bg-1: var(--light-bg-1);
    --bg-2: var(--light-bg-2);
    --bg-3: var(--light-bg-3);
    --bg-4: var(--light-bg-4);
    --bg-5: var(--light-bg-5);
    --fg: var(--light-fg);
}

.bd-settings-title {
    color: var(--text-normal);
}

.bd-button {
    background-color: var(--green);
}

.bd-switch input:checked+.bd-switch-body {
    --switch-color: var(--green);
}

.bd-button.bd-button-danger {
    background-color: var(--red);
}

.floating-window {
    border-radius: 0.75rem;
}

.tabBody-2dgbAs {
    background-color: var(--bg-1);
}

.container-ZMc96U.themed-Hp1KC_ {
    background-color: var(--bg-1);
}